<?xml version="1.0" encoding="utf-8" ?>
<Events>
  
  
  <Event Text="A goblin attacks">
    <option text="Fight.">
      <outcome chance="100" text="Battle!" battlevalue="Goblin">        
      </outcome>
    </option>
  </Event>

  <Event Text="You see two bandits running towards a merchant cart!">
    <option text="You attack them before they reach the merchant.">
      <outcome chance="100" text="You managed to take them down before they got there. The merchant thanks you, and you then continue on your way.">
      </outcome>
    </option>
  </Event>
</Events>